Create table Ticket( T_id number,
Tim timestamp, Dat date,
Price number, C_id number);

INSERT ALL
INTO Ticket VALUES(2819542664,'22-Oct-2022 09:15:00','22-Oct-2022',186,11741) INTO Ticket VALUES(2819542612,'14-Sep-2021 10:45:00','14-Sep-2021',125, 11248) INTO Ticket VALUES(2819542687,'26-Apr-2021 10:10:55','26-Apr-2021', 550, 11875) INTO Ticket VALUES(2819542655,'10-Aug-2021 03:40:21','10-Aug-2021',240,11657) INTO Ticket VALUES(2819542694,'07-Mar-2021 01:57:43','07-Mar-2021',605,11432) SELECT 1 FROM DUAL;

Select * from Ticket

Create table Passenger( Email varchar(200), Pass varchar(200), F_Name varchar(200), L_Name varchar(200), Mobile number, Address varchar(200), T_No number,
C_id number);

INSERT ALL
INTO Passenger VALUES('ybansal@gmail.com', '****','Yash','Bansal',123456789,'Faridabad', 12926,11248)
INTO Passenger VALUES('ayadav@yahoo.in','****', 'Arvind','Yadav',234567891,'Bhatinda', 12013,11432)
INTO Passenger VALUES('rsingh@gmail.com', '****', 'Rajat','Singh',345678921,'Hyderabad',22429,11741) INTO Passenger VALUES('pchauhan@gmail.com','****', 'Puneet','Chauhan',456789312,'Mumbai',12497,11875) INTO Passenger VALUES('hmalhotra@gmail.com', '****', 'Harshit','Malhotra',567894231,'Jaipur',20807,11657) SELECT 1 FROM DUAL;

Select * from Passenger
 
Create table Train( AvailableSeats number, T_Name varchar(200), ArrivalTime timestamp, DepartureTime timestamp, TotalSeats number,
R_id number, T_No number);

INSERT ALL
INTO Train VALUES(823,'ASR SHTBDI EXP','10-Jan-2021 07:20:00','10-Jan-2021 01:30:30',1000,843,22429)
INTO Train VALUES(060,'AII ASR EXP','10-Jan-2021 8:05:05','11-Jan-2021 12:35:35',500,321,12926) INTO Train VALUES(005,'PASCHIM EXP','10-Jan-2021 11:30:00','10-Jan-2021 02:30:30',500,654,12497) INTO Train VALUES(081,'MEWAR EXP','10-Jan-2021 07:20:00','10-Jan-2021 1:30:30',250,784,20807) INTO Train VALUES(450,'HEMKUNT EXP','10-Jan-2021 5:20:20','10-Jan-2021 9:58:58',1000,591,12013) SELECT 1 FROM DUAL;

Select * from Train


Create table Route( Source varchar(200), R_Name varchar(200), Destination varchar(200), S_No number,
R_id number);

INSERT ALL
INTO Route VALUES('Jaipur','JPJUC','Jalandhar',31,321) INTO Route VALUES('Kota', 'KOTAUDZ', 'Udaipur', 43,784)
INTO Route VALUES('Rishikesh','RKSHCDG','Chandigarh',54,591) INTO Route VALUES('Amritsar', 'ASRNDLS', 'New Delhi',28,843) INTO Route VALUES('Mumbai','MMCT','Ambala',62,654)
SELECT 1 FROM DUAL;

Select * from Route



Create table RailwayStation( Platform_No number, S_Name varchar(200),
S_No number);
 
INSERT ALL
INTO RailwayStation VALUES(3,'Rishikesh',54) INTO RailwayStation VALUES(6,'Amritsar',28) INTO RailwayStation VALUES(2,'Mumbai',62) INTO RailwayStation VALUES(5,'Kota',43) INTO RailwayStation VALUES(1,'Jaipur',31) SELECT 1 FROM DUAL


Select * from RailwayStation


Create table HasRoute( R_id number,
S_No number);

INSERT ALL
INTO HasRoute VALUES(654,62) INTO HasRoute VALUES(591,54) INTO HasRoute VALUES(321,31) INTO HasRoute VALUES(843,28) INTO HasRoute VALUES(784,43) SELECT 1 FROM DUAL;


Select * from HasRoute


Create table HasTrain( T_Types varchar(200), T_No number,
S_No number);

INSERT ALL
INTO HasTrain VALUES('Express',22429,28) INTO HasTrain VALUES('Express',20807,43) INTO HasTrain VALUES('Express',12926,31) INTO HasTrain VALUES('Express',12497,62) INTO HasTrain VALUES('Express',12013,54) SELECT 1 FROM DUAL;

Select * from HasTrain
 

--Query to display details of train which arrive in evening at the station
Select * from train where to_char(ArrivalTime,'pm')='pm'


--Query to display details of passenger who has taken highest Fair Ticket select p.F_Name , p.L_Name, T.T_id,T.Price from Passenger p,Ticket T where p.C_Id=T.C_Id and price =(select max(price) from Ticket)


--Query to display train no whose station is Jaipur
select t.T_No,t.S_No,R.S_Name from HasTrain t,RailwayStation R where R.S_Name='Jaipur' and R.S_No=t.S_No
